@page "/send/sent"
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject StackService StackService
@inject NavigationManager NavigationManager
@inject SendViewModel SendViewModel
@inherits ReactiveComponentBase<SendViewModel>


<IonContent class="ion-padding">
    <IonIcon class="ion-text-center" size="large" name="paper-plane-outline"></IonIcon>
    <p class="ion-text-center">₿ @ViewModel.AmountText</p>
    <p class="ion-text-center">To @ViewModel.DestinationString</p>
    <p class="ion-text-center">@ViewModel.SignedTransaction.GetHash().ToString()</p>
    <p class="ion-text-center">It usually takes about 30 minutes for a transaction to be finalized.</p>

</IonContent>
<IonFooter class="ion-padding">
    <IonButton OnClick="@ClickDone" expand="block">DONE</IonButton>
</IonFooter>

@code {

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        UiStateService.Title = "SENT";
    }

    private void ClickDone()
    {
        NavigationManager.NavigateTo("/");
    }
}
